/* main styles here */

html {
	font-size: 62.5%;
}

a {
	color: inherit;
	text-decoration: inherit;
}

.body {
	background: black;
	font-size: 2rem;
	color: white;
}

.main {
	margin: 50vh 4rem 4rem 4rem;
}

.header {
	position: fixed;
	top: 4rem;
	left: 4rem;
	right: 4rem;
	display: flex;
	justify-content: space-between;
}

nav * + * {
	margin-left: 2rem;
}

